#header {
  height: auto;
  padding: 0 0 0 0;
  overflow: normal;
}

#header h1 {
  margin-left: 160px;
  margin-bottom: 15px;
  left: auto;
  right: auto;
}

#header a {
  color: #ccc;
}

#quick-search {
  font-size: 12px;
  text-align: right;
}

#main-menu {
  border-left: 0 none;
  border-right: 0 none;
  margin: 0 0 0 0;
  position: relative;
  width: auto;
}

/* clearfix */
#header, #main-menu {
  zoom: 1;
}

#header:before, #header:after,
#main-menu:before, #main-menu:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

#header:after,
#main-menu:after {
	clear: both;
}

/* ==1 Column */
.col1-5{width:90px;}
.col1-4{width:80px;}
.col1-3{width:70px;}
.col1-2{width:60px;}
.col1-1{width:50px;}
.col1-0{width:40px;}

/* align */
.alignR{text-align:right !important;}
.alignL{text-align:left !important;}
.alignC{text-align:center !important;}
.alignJ{text-align:justify !important;}

.fontRed{color:#FF0000;}